In [148]:
import numpy as np
import pandas as pd

In [149]:
data=pd.read_csv("car.data",names=['buying','maint','doors','persons','lug_boot','safety','class'])

In [150]:
data

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [151]:
def classify(col,values):
  for i,val in enumerate(values):
     data.loc[data[col] == val,[col]] =i
  # print(data)

In [152]:
# data.loc[data['buying'] == 'vhigh',['buying']] =1
classify(col='buying',values=['low','med', 'high','vhigh'])
classify(col='maint',values=['low','med', 'high','vhigh'])
classify(col='lug_boot',values=['small','med', 'big'])
classify(col='safety',values=['low','med', 'high'])
classify(col='class',values=['unacc','acc', 'good','vgood'])

In [153]:
data

     buying maint  doors persons lug_boot safety class
0         3     3      2       2        0      0     0
1         3     3      2       2        0      1     0
2         3     3      2       2        0      2     0
3         3     3      2       2        1      0     0
4         3     3      2       2        1      1     0
...     ...   ...    ...     ...      ...    ...   ...
1723      0     0  5more    more        1      1     2
1724      0     0  5more    more        1      2     3
1725      0     0  5more    more        2      0     0
1726      0     0  5more    more        2      1     2
1727      0     0  5more    more        2      2     3

[1728 rows x 7 columns]

In [154]:
data.loc[data['persons'] == 'more',['persons']] =6

In [155]:
data

     buying maint  doors persons lug_boot safety class
0         3     3      2       2        0      0     0
1         3     3      2       2        0      1     0
2         3     3      2       2        0      2     0
3         3     3      2       2        1      0     0
4         3     3      2       2        1      1     0
...     ...   ...    ...     ...      ...    ...   ...
1723      0     0  5more       6        1      1     2
1724      0     0  5more       6        1      2     3
1725      0     0  5more       6        2      0     0
1726      0     0  5more       6        2      1     2
1727      0     0  5more       6        2      2     3

[1728 rows x 7 columns]

In [156]:
data.loc[data['doors'] == '5more',['doors']] =5

In [157]:
data

     buying maint doors persons lug_boot safety class
0         3     3     2       2        0      0     0
1         3     3     2       2        0      1     0
2         3     3     2       2        0      2     0
3         3     3     2       2        1      0     0
4         3     3     2       2        1      1     0
...     ...   ...   ...     ...      ...    ...   ...
1723      0     0     5       6        1      1     2
1724      0     0     5       6        1      2     3
1725      0     0     5       6        2      0     0
1726      0     0     5       6        2      1     2
1727      0     0     5       6        2      2     3

[1728 rows x 7 columns]

In [158]:
from sklearn.model_selection import train_test_split 
x=data.drop('class',axis=1)
y=data["class"]
x=x.astype('int')
y=y.astype('int')
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=41) 
print("Shape of the X_train", x_train.shape) 
print("Shape of the y_train", y_train.shape) 
print("Shape of the X_test", x_test.shape) 
print("Shape of the y_test", y_test.shape)

Shape of the X_train (1382, 6)
Shape of the y_train (1382,)
Shape of the X_test (346, 6)
Shape of the y_test (346,)

In [159]:
from sklearn.neighbors import KNeighborsClassifier

knn_model=KNeighborsClassifier(n_neighbors=5)
knn_model.fit(x_train,y_train)

KNeighborsClassifier()

In [160]:
pred=knn_model.predict(x_test)

In [161]:
pred

array([0, 1, 0, 1, 1, 2, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 1, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 3, 0, 1, 3, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 3, 1, 0, 0, 0, 1, 1, 3, 0, 0, 0, 1, 0, 0, 3, 0,
       0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 1,
       3, 0, 0, 0, 0, 1, 0, 0, 3, 0, 3, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 3, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 3, 1, 1, 2, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       3, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 2, 1, 0, 3, 0, 0, 1, 1, 0, 3])

In [162]:
y_test.to_list()

[0,
 1,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 1,
 0,
 1,
 0,
 3,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 3,
 1,
 1,
 3,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 3,
 1,
 0,
 0,
 0,
 1,
 1,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 3,
 1,
 3,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 3,
 0,
 3,
 0,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 3,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 3,
 1,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 3,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 1,
 0,
 3,
 0,
 0,
 1,
 1,
 0,
 2]

In [163]:
from sklearn.metrics import classification_report,accuracy_score
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       241
           1       0.91      0.97      0.94        75
           2       0.67      0.62      0.64        13
           3       0.93      0.76      0.84        17

    accuracy                           0.96       346
   macro avg       0.87      0.84      0.85       346
weighted avg       0.96      0.96      0.96       346